* {
    box-sizing: border-box;
}

.w31hny-banner {
    background-size: cover;
    background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)), url(./img/banner1.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: initial;
    background-attachment: fixed;
    min-height: 700px;
}

.w3_hny_header {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 20px;
    padding: 40px 0 20px 0;
    align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

h1 {
    color: #ffffff;
}

.w3_hnyits_logo nav ul {
    text-transform: uppercase;
    margin-right: 20px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    padding: 20px 30px;
}

.w3_hnyits_logo li {
    color: white;
    display: inline;
}

.w3_hnyits_logo {
    display: flex;
}

.w3_hnyits_logo a {
    text-decoration: none;
    color: #ffffff;
    padding: 0 5px;
}

.w3menu-right-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
}

.bannerhny-info {
    color: #ffffff;
    display: block;
    width: 50%;
}

.search__input {
    position: relative;
}

.search-bar span {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 15px;
    right: 30px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 30px 30px;
}

.mode-container {
    width: 24px;
    height: 24px;
    padding: 1px 0;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
    font-size: 50px;
}

.bannerhny-info button {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-size: 18px;
    padding: 12px 35px;
    transition: 0.5s;

}

.bannerhny-info button:hover {
    background-color: #fff;
    color: #ff6600;
}

.switch-toggle {
    appearance: none;
    width: 70px;
    height: 34px;
    background: #fff;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.3);
}

.switch-toggle::before {
    content: "";
    width: 29px;
    height: 28px;
    top: 4px;
    left: 4px;
    background: #efe2bf;
    border-radius: 50%;
    position: absolute;
    box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.3);
    transition: var(--transition-effect)
}

.switch-toggle:checked {
    background: #000;
}

.switch-toggle:checked:before {
    left: 38px;
}

/* content */
.growcontent-1-grids {
    display: flex;
}

.title-w3l {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
}

.title-subhny {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: tomato;
    display: block;
    font-family: 'Pacifico', cursive;
}

.content-left {
    width: 40%;
}

.content-right {
    width: 60%;
    font-size: 20px;
    color: #161c2db3;
}

/* agent-blog */
.agent-block-image {
    background-image: url(./img/banner3.jpg);
    min-height: 610px;
    background-size: cover;
    width: 100%;
}

.agent-block-image::before {
    content: "";
    background: rgb(16 15 19 / 46%);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}

.no-gutters>.col,
.no-gutters>[class*=col-] {
    background-color: #ff6600;
}

.title-subhny {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: white;
    display: block;
}

.title-w3l {
    font-size: 40px;
    line-height: 48px;
    font-weight: 600;
}

.my-3 {
    color: #ffdfc9;
    font-size: 18px;
}

.subscribe-cat {
    display: flex;
}

 .subscribe-cat .items span {
    background-color: white;
    height: 60px;
    width: 60px;
    border-radius: 5px;
}

.subscribe-cat .items span.fa {
    color: #ff6600;
    font-size: 25px;
    line-height: 60px;
    padding-left: 20px;
}
.subscribe-cat .items span.fa:hover{
    color: #ffc600;
}
.subscribe-cat-link {
    display: block;
    color: #000;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 15px;
    font-size: 20px;
}

.mt-2 {
    color: #ffdfc9;
    font-size: 18px;
}

/*  res-categories*/
/* .w3l-res-categories{
    background-color: #f7f7f7;
} */
.w3l-res-categories .gal-slide-img {
    position: relative;
}
.header-title .title-subhny{
    color: #ff6600;
}
.gal-slide-info h4 {
    display: block;
    font-size: 22px;
    line-height: 30px;
    color: #fff;
    font-weight: 700;
    padding-top: 100%;
}

.gal-slide-info h6 {
    display: block;
    font-weight: 600;
    color: #ffc600;
    font-size: 18px;
    letter-spacing: 1px;
}

.gal-slide-info {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding: 25px;
    transition: all .5s;
    opacity: 0;
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.3) 100%);
    /* transform: skewX(-25deg);
    transition: all 0.75s; */
}

.w3l-res-categories .gal-slide-img img {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.w3l-res-categories .gal-slide-grid .gal-slide-img:after {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 69%, rgba(0, 0, 0, 0.76) 100%);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    border-radius: 6px;
    -webkit-border-radius: 6px;
}

.gal-slide-info:hover {
    opacity: 1;
}

.w3l-res-categories .gal-slide-img img {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    border-radius: 6px;
    -webkit-border-radius: 6px;
}
/*  */
.box-wrap-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 30px;}
    .box-wrap p {
      color: #161c2db3;
      font-size: 18px;
        margin: 0;}
.box-wrap {
    padding: 40px 40px;
    transition: all 0.5s ease 0s;
    border-radius: 8px;
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 3%);
    background-color: #fff;
    position: relative;
    border: 1px solid #eee;
}
.icon {
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    border-radius:6px;
    transition: 0.3s ease-in-out; 
}
.icon span.fa{
    color: #ff6600;
    font-size: 25px;
   
}
.icon span{
    width: 100%;
    height: 100%;
    justify-content: center;
   padding-top: 20px;
   border-radius: 6px;
   background:rgba(130, 115, 252, .05);
   transition: 0.5s;
}
.info h4:hover{
    color: #ff6600;
}
.icon span:hover{
    color:#eee ;
}
.icon span.fa:hover{
    background-color: #ff6600;
}